*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.fondo {
    background:linear-gradient(top , rgb(0, 0, 0), rgb(114, 110, 110));
    background:-webkit-linear-gradient(top , rgb(0, 0, 0), rgb(114, 110, 110));
    background:-moz-linear-gradient(top , rgb(0, 0, 0), rgb(114, 110, 110));
    background:-o-linear-gradient(top rgb(0, 0, 0), rgb(114, 110, 110));
    background:-ms-linear-gradient(top , rgb(0, 0, 0), rgb(114, 110, 110));
}


.principal {
    background:linear-gradient(top, rgb(0, 0, 0), rgb(59, 107, 124));
    background:-webkit-linear-gradient(top, rgb(0, 0, 0),rgb(59, 107, 124));
    background:-moz-linear-gradient(top, rgb(0, 0, 0), rgb(59, 107, 124));
    background:-o-linear-gradient(top, rgb(0, 0, 0), rgb(59, 107, 124));
    background:-ms-linear-gradient(top, rgb(0, 0, 0), rgb(59, 107, 124));
}

h1 {
    background:linear-gradient(top, rgb(30, 97, 173), rgb(154, 210, 231));
    background:-webkit-linear-gradient(top, rgb(30, 97, 173), rgb(154, 210, 231));
    background:-moz-linear-gradient(top, rgb(30, 97, 173), rgb(154, 210, 231));
    background:-o-linear-gradient(top, rgb(30, 97, 173), rgb(154, 210, 231));
    background:-ms-linear-gradient(top, rgb(30, 97, 173), rgb(154, 210, 231));
margin-bottom: 20px;
    text-align: center;
}

h2 , h3 {
    text-decoration:underline;
     

        color: rgb(139, 146, 150);
    
}

p:hover {
    font-size: 30px;
text-decoration:none;
}

p {
    color: white;
    margin: 15px;
}


nav {
    margin: 20px;
    position: sticky;
    top: 0px;
    z-index: 1px;
}

nav ul li:hover {
    filter: sepia(90%);
}

nav ul li {
list-style-type: none;
color: beige;
display: inline-block;
margin: 10px;
text-decoration: none;
padding: 10px;
}

a {
    text-decoration: none;
    color: rgb(139, 146, 150);
}


footer {
    background-image: url(../img/banner.jpg);
   /*Estos estilos te los recomiendo*/
   background-position: center bottom; /*Para que la imagen aparezca desde abajo*/
   background-size: auto 100px; /*o las medidas que quieras darle a la imagen*/
   background-repeat: repeat-x; /*Para que solo se repita a los lados y no hacia arriba*/  
    margin: 20px;
    color: beige;
    text-align: center;
}



img:hover {
    filter: sepia(60%);
}
img {
    margin-left: 150px;
    border-radius: 20px;
}


.img-servicios:hover {
   filter: sepia(60%);
}
.img-servicios {
    height: 500px;
    width: 800px;
}


.formulario {
    color: antiquewhite;
}